.room {
    margin-top: 80px;
    min-height: 100vh;
    height: 100%;
    text-align: center;
}

.room-box1 {
    width: calc(100% - 40%);
    background-color: #fff;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%;
}

.room-box h1 {
    padding-top: 50px;
}

.chat-name {
    margin: 15px;
}

.chat-user {
    text-decoration: none;
    font-size: 24px;
    color: #000;
    margin: 10px;
}