.message {
    text-align: center;
    /* height: 100vh; */
    height: 100%;
    margin-top: 80px;
}

.message h1 {
    padding-top: 50px;
}

.message1 {
    /* height: 100%; */
    width: calc(100% - 60%);
    margin: 0 auto;
    background-color: #fff;
    z-index: 3;
}

.message2 {
    list-style: none;
    padding: 0;
}

.message2 li {
    display: flex;
}

.message-r {
    flex-direction: row-reverse;
}

.message-r1 {
    padding: 15px 15px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: rgb(183, 207, 248);
    border-radius: 50px;
    max-width: 60%;
    height: 100%;
    word-wrap: break-word;
    white-space: normal;
    font-size: 18px;
    position: relative;
}

.message-r1::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 4px;
    right: 3px;
    border: 18px solid transparent;
    border-right-color: rgb(183, 207, 248);
}

.user-name {
    text-align: left;
}

.message-l1 {
    padding: 15px 15px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: rgb(232, 235, 240);
    border-radius: 50px;
    max-width: 60%;
    height: 100%;
    word-wrap: break-word;
    white-space: normal;
    font-size: 18px;
    position: relative;
}

.message-l1::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 3px;
    border: 18px solid transparent;
    border-left-color: rgb(232, 235, 240);
}

.message-form {
    margin: 0 20px 30px 55px;
}

#message_content {
    width: 40%;
    margin-left: 50px;
    padding: 10px;
}

.message-submit {
    display: inline-block;
    color: white;
    background-color: rgb(183, 207, 248);
    padding: 10px;
    border-radius: 50px;
    border: solid 1px rgb(183, 207, 248);
    transition: all 0.3s;
}

.message-submit:hover {
    transform: translate(-2.5px, -2.5px);
    color: white;
    box-shadow: 5px 5px 0 0 #000;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .message1 {
        width: calc(100% - 40%);
    }
    #message_content {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .message1 {
        width: calc(100% - 40%);
    }
    #message_content {
        margin-left: 0;
        width: 65%;
    }
}