.skill-box {
    margin-top: 85px;
    text-align: center;
    /* margin: 0 auto; */
    height: 140vh;
}

.skill-box2 {
    margin: 0 auto;
    background-color: #ffffff;
    width: 50%;
    height: 130vh;
}

.post {
    padding-top: 30px;
    margin-bottom: 40px;
}

.skill-name2 {
    margin-bottom: 30px;
}

.skill-name2 p {
    text-align: left;
    margin: 15px 20%;
}

.skill-category {
    text-align: left;
    margin: 15px 20% 80px;
}

.skill-imageï¼’ {
    height: 5vh;
    text-align: left;
    margin: 15px 20% 70px;
}

.skill-formulation p {
    text-align: left;
    margin: 15px 20%;
}

.skill-recipe p {
    text-align: left;
    margin: 15px 20%;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
}

textarea {
    padding: 10px;
    width: 60%;
    height: 200px;
}

.skill-btn {
    text-align: left;
    margin: 20px 20%;
}

.btn2 {
    padding: 5px 10px;
    margin: 10px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    background-color: tomato;
    border-radius: 20px;
}

.back-btn {
    padding: 5px 10px;
    margin: 10px 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    background-color: blueviolet;
    border-radius: 20px;
}