<%= render "shared/header" %>
<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
<div>
  <% if current_user != user %>
  <%=link_to "#{user.name}",message_path(user.id), method: :get, class:"chat-user" %>
  <% end %>
</div>
<% end %>
<%= render "shared/footer" %>